@import 'bootstrap/dist/css/bootstrap';
/* first import the bootstrap classes so that i can modify them , this will imort all the bootstrap css  */
/*.navbar-brand {
  font-size: 3rem;
  font-style:italic;
}*/
.search-area{
  padding-top: 50px
}
.no-right-padding{
  padding-right: 0 !important;
}
.no_left-padding{
  padding-left: 0 !important;
}